Image gallery.xcodeproj/project.xcworkspace/xcuserdata/davidpavliashvili.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Image gallery.xcodeproj/project.xcworkspace/xcuserdata/Nar.xcuserdatad/UserInterfaceState.xcuserstate
